.menu-item {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 7px;
    justify-items: center;
    align-content: center;

    width: 100%;
    height: 100%;
}
.menu-item img {
    height: 24px;
    width: auto;    
}
.menu-item p {
    color: white;
    font-size: 12px;
    font-weight: 300;
}